@model FinaTest.Models.ProductModelStr
@{
    ViewBag.Title = "_Editproducticon";
}
<style>
    body {

        background-color: rgba(27, 27, 27, 0.95)
    }
    #Closeproductopap{
        float:right;

    }
</style>
<div class="addproductopap" id="addproductopap">
    <form action="/Home/Editproducticon" method="post">
        <div class="form-row">
            <a href="/Home/Index">
                <img class="icons" id="Closeproductopap" src="~/Content/icons/clear-24px.svg" />
             
            </a>
            <div class="form-group  row">
                <label for="Code" class="col-sm-2 col-form-label">კოდი</label>
                <div class="col-sm-10">
                    <input type="number" id="Code" class="form-control" name="Code" value="@Model.Code" />
                </div>
            </div>
            <div class="form-group row ">
                <label for="Code" class="col-sm-2 col-form-label">სახელი</label>
                <div class="col-sm-10">
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" />
                </div>
            </div>
            <div class="form-group  row">
                <label for="country" class="col-sm-2 col-form-label">ქვეყანა</label>
                <div class="col-sm-10">
                    <select id="country" name="country" class="form-control">
                        <option selected>საქართველო</option>
                        <option>ამერიკა</option>
                        <option>თურქეთი</option>
                        <option>იტალია</option>
                    </select>
                </div>
            </div>
            <div class="form-group row ">
                <label for="Price" class="col-sm-2 col-form-label">ფასი</label>
                <div class="col-sm-10">
                    <input type="text" id="Price" class="form-control" name="Price" value="@Model.Price" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="startDate" class="col-form-label">შექმნის თარიღი</label>
                <input type="date" id="startDate" name="startDate" value="2020-05-02"  min="2020-01-01" max="2021-12-31" />
            </div>
            <div class="form-group col-md-6">
                <label for="CompletionDate" class="col-form-label">დასრულების თარიღი</label>
                <input type="date" id="CompletionDate" name="CompletionDate"  value="2020-05-10"  min="2020-01-01" max="2021-12-31" />
            </div>

        </div>
        <input type="text" id="inputaddprodu" hidden name="Id" value="@Model.ID" />
        <button type="submit" class="btn btn-primary productseiv">შენახვა</button>

    </form>

</div>

@*<script>
  
      $("#Closeproductopap").click(function () {
          //location.reload("./Home/Index");
           window.location ="/Home/Index";
          
    });

</script>*@