
@{
    ViewBag.Title = "deleproduction";
}
    <style>
        body{
            background-color:rgba(22, 22, 22, 0.95)
        }

    </style>

    <div class="deleted">
        <p>დარწმუნებული ხართ რომ გსურთ წაშლა?</p>
        <a href="/Home/Deleprod/@ViewBag.ID">
            <button > დიახ </button>
           
        </a>

        <a href="/Home/Index">
            <button  > არ მსურს წაშლა</button>
        </a>
    </div>

